.form {
    border: 10px solid rgba(76, 76, 208, 0.34);
    border-radius: 1000px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.submitButton {
    max-width: 20%;
}