.page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.footer {
    border: 65px solid rgba(147, 148, 187, 0.27);
    height: 10px;
    font-family: "Dubai Light";
    color: #8266af;
    font-size: 70px;

}
*{
    box-sizing: border-box;
}