.inputWrapper{
    font-size: 18px ;
    display: flex;
    flex-direction: column;
    font-family: "Bookman Old Style";
    color: #8888a9;
}
input{
    margin-top:10px;
    width: 300px;
    height: 52px;
    border:2px solid rgba(190, 220, 225, 0.73); /* Цвет и ширина границы */
    border-radius: 20px; /* Скругление углов */
    background-color: rgba(215, 230, 234, 0.62);
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Calibri Light";
    font-size: 20px;
    color: #8266af;
    font-weight: bold ;
}
input::placeholder{
    font-weight: bold;
    text-align: center;
    color: #8d8db2;
}
input:hover{
    background-color: rgba(140, 90, 194, 0.26);

}
input:focus{
    border:2px solid rgba(130, 80, 255, 0.22);
}