.footer {
    color: white;
    background-color: rgba(65, 37, 108, 0.35);
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.icons{
    display: flex;
    gap: 15px;
}
a img{
    height: 40px;

}
.text{
    font-family: "Dubai Light";
    font-size:35px ;
}